/*************** ADD CUSTOM CSS HERE.   ***************/
.glyphicon {
    font-family: "Glyphicons Halflings" !important; }

.fa {
    font-family: "FontAwesome" !important;
}

html {
    font-size: 62.5%;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: 100%; }

body {
    font-size: 14px;
    color: #2d2d2d;
    overflow-x: hidden;
    background: #fff;
    padding: 0;
    margin: 0;
}

/* 1.2 - HTML5 Elements */
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block; }

/* 1.4 - Typography */
h1, h2, h3, h4, h5, h6 {
    color: #2d2d2d;
    margin: 0 0 13px 0; }

h1 {
    color: #2d2d2d;
    font-size: 36px;
    line-height: 36px; }

h2 {
    color: #2d2d2d;
    font-size: 28px;
    line-height: 28px; }

h3 {
    color: #2d2d2d;
    font-size: 24px;
    line-height: 24px; }

h4 {
    font-size: 13px;
    line-height: 18px; }

h5 {
    font-size: 12px;
    line-height: 18px; }

h6 {
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase; }

h1 .note, h2 .note, h3 .note, h4 .note, h5 .note, h6 .note {
    margin-left: 8px;
    font-weight: 400;
    font-size: 12px; }

h1 .note a, h2 .note a, h3 .note a, h4 .note a, h5 .note a, h6 .note a {
    color: #2d2d2d; }

p {
    margin: 0 0 10px 0;
    color: #2d2d2d; }

/* 1.5 - Links and Buttons */
a {
    text-decoration: none;
    outline: none;
    color: #2d2d2d; }

a:focus {
    text-decoration: none; }

a:hover {
    text-decoration: none;
    color: #fcce6f; }

a:active {
    outline: none; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #2d2d2d; }

/* 1.6 - Tables */
table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ddd; }

table tr td {
    border-top: 1px solid #ddd;
    padding: 5px 10px; }

strong {
    font-weight: 700; }

em {
    font-style: italic; }

ul {
    padding: 0;
    list-style-type: none; }

img {
    max-width: 100%; }

input, select {
    outline: none; }

.pb10 {
    padding-bottom: 10px; }

.mg0-30 {
    margin: 0 30px; }

.pd80 {
    padding: 80px 0; }

.pd50 {
    padding: 50px 0; }

.pd40 {
    padding: 40px 0; }

.pd30 {
    padding: 30px 0; }

.pd20 {
    padding: 20px 0; }

.pb30 {
    padding-bottom: 30px; }

.mt20 {
    margin-top: 20px; }

.mb50 {
    margin-bottom: 50px; }

.mb30 {
    margin-bottom: 30px; }

.container-1200 {
    width: 1200px;
    margin: 0 auto; }

.container-835 {
    width: 835px;
    margin: 0 auto; }

.container-900 {
    width: 900px;
    margin: 0 auto; }

a.scrollToTop {
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    display: none;
    color: #fcce6f;
    text-align: center;
    background: #000;
    line-height: 35px;
    font-size: 24px; }

.main-title h1, .main-title h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #2d2d2d;
    line-height: 1.2;
    margin: 0;
    font-weight: bold; }

.main-title2 h1, .main-title2 h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #2d2d2d;
    line-height: 1.3;
    margin: 0;
    font-family: 'sfu-con-black'; }

.shop-now {
    margin: 0; }
.shop-now a {
    display: inline-block;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color: #656565; }
.shop-now a:hover {
    color: #fcce6f; }

.img {
    position: relative;
    overflow: hidden; }
.img img, .img .img-show {
    transition: all 0.3s; }
.img:hover img, .img:hover .img-show {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

.fix-breadcrumb.new-bg .breadcrumb {
    background: #f1f0f4; }

.fix-breadcrumb .breadcrumb {
    margin: 0;
    background: #fff;
    text-align: center;
    padding: 9px 15px;
    position: relative; }
.fix-breadcrumb .breadcrumb li a, .fix-breadcrumb .breadcrumb li span {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'sfu-con-bold'; }

.fix-breadcrumb .breadcrumb > li + li:before {
    padding: 0; }

#header-mobile-menu {
    margin: 40px 0 0; }
#header-mobile-menu .slicknav_btn {
    padding: 10px 15px 10px 0; }
#header-mobile-menu .slicknav_btn .slicknav_icon-bar {
    background: #ccc; }
#header-mobile-menu .slicknav_nav {
    min-height: 500px; }
#header-mobile-menu .slicknav_nav a {
    color: #fcce6f; }
#header-mobile-menu .slicknav_nav > ul {
    margin: 0; }
#header-mobile-menu .find-store {
    padding: 0;
    margin: 0; }

.paginate {
    line-height: 1; }
.woocommerce div.product{
    margin-bottom: 23px;
}
ul.page-numbers {
    display: inline-block;
    margin: 0 auto 25px; }
.page-numbers li{
    display: inline-block;

}
.page-numbers li .page-numbers {
    float: left;
    display: block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e3e3e3;
    background: #cdcdcd;
    line-height: 22px;
    width: 22px;
    margin-right: 5px;
    color: #fff;
    font-size: 10px;
    text-align: center; }
.page-numbers li a{
    color: #fff;
}
.page-numbers li.disabled {
    color: #eaeaea;
    cursor: default;
    border-color: #eaeaea; }
.page-numbers li .page-numbers.current, .page-numbers li .page-numbers:hover {
    background: #58585b;
    color: #fff;
    border-color: #949496; }

del {
    text-decoration: line-through;
    margin-left: 5px;
    color: #999;
}

/*----------------------footer----------------------*/
footer {
    background: #2d2d2d; }
footer .footer-block {
    border-bottom: 1px solid #9b9b9b;
    padding: 25px 0; }
footer .footer-block .footer-address {
    margin: 0; }
footer .footer-block .footer-address .adress-item {
    /*float: left;*/
    margin-right: 0;
    width: 49%;
    display: inline-block;
    vertical-align: top; }
footer .footer-block .footer-address .adress-item:last-child {
    margin: 0; }
footer .footer-block .footer-address .adress-item h4 {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 25px; }
footer .footer-block .footer-address .adress-item ul li {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #fff; }
footer .footer-block .footer-address .adress-item ul li i {
    margin-right: 5px;
    width: 12px; }
footer .footer-block .footer-address .adress-item ul li a {
    color: #fff; }
footer .footer-socials {
    border-bottom: 1px solid #9b9b9b;
    border-top: 1px solid #676767;
    padding: 25px 0 18px; }
footer .footer-socials h4 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px; }
footer .footer-socials ul {
    display: inline-block;
    margin: 0; }
footer .footer-socials ul li {
    float: left;
    padding: 0 15px;
    line-height: 1; }
footer .footer-socials ul li a {
    display: block;
    font-size: 24px;
    color: #fff; }
footer .footer-socials ul li a.fb:hover {
    color: #3a5998; }
footer .footer-socials ul li a.in:hover {
    color: #8a3ab9; }
footer .footer-newsletter {
    padding: 25px 0; }
footer .footer-newsletter h4 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    margin: 0; }
footer .footer-newsletter .sub {
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    margin: 4px 0 15px; }
footer .footer-newsletter .link a {
    display: inline-block;
    max-width: 215px;
    width: 100%;
    line-height: 45px;
    background: #fff;
    color: #2d2d2d;
    font-size: 15px;
    text-transform: uppercase; }
footer .footer-newsletter .link a:hover {
    background: #c6ab7f; }
footer .copyright {
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-bottom: 18px; }

/*---------------------header----------------------*/
.header-top {
    background: #2d2d2d;
    border-bottom: 1px solid #a3a3a3; }
.header-top .logo {
    float: left;
    text-align: center;
    width: calc(100% - 200px);
    margin: 0;
    padding: 18px 0 10px 200px; }
.header-top .logo img {
    max-width: 80px; }
.header-top .user-cart {
    float: right;
    padding-right: 20px;
    margin-top: 78px;
    max-width: 200px; }
.header-top .user-cart a {
    color: #fff;
    font-size: 13px;
    display: inline-block; }
.header-top .user-cart a.cart-top {
    padding: 0 22px 0 40px;
    background: url(cart6042.png?v=291) top right no-repeat;
    position: relative; }
.header-top .user-cart a.cart-top .cart-count {
    position: absolute;
    font-size: 9px;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    color: #fff;
    top: 4px;
    right: 2px; }
.header-top .user-cart a.cart-top .cart-top-info {
    position: absolute;
    min-width: 155px;
    right: 0;
    background: #fff;
    padding: 10px;
    z-index: 99;
    border: 1px solid #E1E1E1;
    display: none; }
.header-top .user-cart a.cart-top .cart-top-info p {
    margin: 20px 0;
    color: #000; }
.header-top .user-cart a.cart-top .cart-top-info span {
    font-size: 12px;
    font-style: normal;
    text-align: center;
    padding: 5px;
    border: 1px #ccc solid;
    display: block;
    color: #000;
    margin-bottom: 10px; }
.header-top .user-cart a.cart-top:hover .cart-top-info {
    display: block; }
.header-top .user-cart a:hover {
    color: #fcce6f; }

.header-bottom {
    background: #2d2d2d;
    position: relative; }
.header-bottom .menu-center {
    float: left;
    width: calc(100% - 90px);
    line-height: 1;
    text-align: center; }
.header-bottom .menu-center .main-menu {
    display: inline-block;
    margin: 0; }
.header-bottom .menu-center .main-menu > li {
    float: left; }
.header-bottom .menu-center .main-menu > li > a {
    text-transform: uppercase;
    padding: 12px 22px 18px; }
.header-bottom .menu-center .main-menu li a {
    color: #fff;
    font-size: 13px;
    display: block; }
.header-bottom .menu-center .main-menu li a:hover {
    color: #fcce6f; }
.header-bottom .menu-center .main-menu li.has-child {
    position: relative; }
.header-bottom .menu-center .main-menu li .active {
    position: relative;
    color: #fcce6f; }
.header-bottom .menu-center .main-menu li .active:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 21px;
    height: 16px;
    background: url(img-bottom6042.png?v=291) top left no-repeat;
    z-index: 9; }
.header-bottom .menu-center .main-menu li:hover .sub, .header-bottom .menu-center .main-menu li:hover .child {
    opacity: 1;
    visibility: visible; }
.header-bottom .menu-center .main-menu li .sub {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    border: 1px solid #707070; }
.header-bottom .menu-center .main-menu li .sub .sub-container {
    width: 620px;
    margin: 0 auto;
    text-align: left; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item {
    float: left;
    margin: 25px 0;
    padding: 0 15px;
    width: 153px;
    min-height: 139px;
    border-right: 2px solid #8b8b8b; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item:last-child {
    border-right: 0; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item.bg {
    background: #e7e7e7;
    width: 160px;
    min-height: 194px;
    margin: 0;
    padding: 25px 15px;
    border-right: 0; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item.bg li:last-child a {
    color: #e10613; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item.bg li:last-child a:hover {
    color: #fcce6f; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item li {
    margin-bottom: 3px; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item li a {
    line-height: 15px;
    display: block;
    font-size: 12px;
    color: #2d2d2d; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item li a:hover {
    color: #fcce6f; }
.header-bottom .menu-center .main-menu li .sub .sub-container .menu-item .child {
    margin-top: 3px; }
.header-bottom .menu-center .main-menu li .child {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background: #fff;
    width: 100%;
    min-width: 250px;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #707070;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    padding: 15px; }
.header-bottom .menu-center .main-menu li .child li {
    text-align: left;
    margin-bottom: 5px; }
.header-bottom .menu-center .main-menu li .child li a {
    line-height: 15px;
    display: block;
    font-size: 12px;
    color: #2d2d2d;
    text-transform: uppercase; }
.header-bottom .menu-center .main-menu li .child li a:hover {
    color: #fcce6f; }
.header-bottom .search-pc span {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 12px 0 18px;
    display: block;
    cursor: pointer;
    width: 90px;
    text-align: center; }
.header-bottom .search-pc:hover .search-bar {
    opacity: 1;
    visibility: visible; }
.header-bottom .search-pc:hover span {
    color: #2d2d2d;
    background: #c6ab7f; }
.header-bottom .search-pc .search-bar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 9px 0;
    background: #fff;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
.header-bottom .search-pc .search-bar label {
    font-weight: 400;
    font-size: 13px;
    margin: 0;
    text-transform: uppercase; }
.header-bottom .search-pc .search-bar input[type="text"] {
    border: 0;
    font-size: 15px;
    color: #808080;
    text-transform: uppercase;
    width: calc(100% - 184px - 70px);
    text-align: center; }
.header-bottom .search-pc .search-bar .search-btn {
    font-size: 13px;
    border: 2px solid #c6ab7f;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    width: 184px;
    background: transparent; }
.header-bottom .search-pc .search-bar .search-btn:hover {
    background: #c6ab7f;
    color: #fff; }

/*---------------------Slider--------------------*/
#owl-index {
    overflow: hidden; }

#owl-index .item .img {
    width: 100%;
    height: 500px; }

#owl-index .owl-item.active .item .slider-caption {
    display: block; }

#owl-index .item {
    position: relative; }
#owl-index .item .slider-caption {
    width: 100%;
    max-width: 720px;
    margin: 30px auto;
    display: none;
    background: transparent;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
#owl-index .item .slider-caption .slider-title {
    line-height: 50px;
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400; }
#owl-index .item .slider-caption .slider-des {
    font-size: 13px;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 16px; }
#owl-index .item .slider-caption .slider-btn {
    line-height: 35px;
    background: #c6ab7f;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    width: 175px; }
#owl-index .item .slider-caption .slider-btn:hover {
    background: #fcce6f; }

#owl-index .owl-controls .owl-buttons div {
    width: 40px;
    height: 40px;
    background: transparent;
    color: #fff;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 30px);
    transform: rotate(45deg); }

#owl-index .owl-controls .owl-buttons div:hover {
    background: transparent;
    opacity: 1; }

#owl-index .owl-controls .owl-buttons div i {
    display: block;
    line-height: 40px;
    transform: rotate(-45deg);
    font-size: 48px; }

#owl-index .owl-prev {
    left: 40px; }

#owl-index .owl-next {
    right: 40px; }

/*------------------------index-----------------*/
.banner-index {
    padding: 15px 0; }
.banner-index .banner-list {
    margin-top: 23px;
    padding: 0 40px; }
.banner-index .banner-list .banner-item {
    width: 100%;
    padding: 0 5px;
    margin-bottom: 10px; }
.banner-index .banner-list .banner-item .img {
    /*&:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 21px;
            height: 16px;
            background: url(//theme.hstatic.net/1000026602/1000473196/14/img-bottom.png?v=291) top left no-repeat;
            z-index: 9;
        }*/ }
.banner-index .banner-list .banner-item .img .img-show {
    height: 353px; }
.banner-index .banner-list .banner-item h3 {
    margin: 0; }
.banner-index .banner-list .banner-item h3 a {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'sfu-con-bold'; }
.banner-index .banner-list .banner-item h3 a:hover {
    color: #b37c0a; }
.banner-index .banner-list .banner-item .prices {
    text-align: center;
    color: #656565;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4; }

.best-seller {
    padding: 15px 0 30px;
    background: #ede2cf; }
.best-seller .main-title {
    margin-bottom: 15px; }

.product-item .img .img-show {
    height: 279px; }

#owl-product-index {
    padding: 0 40px; }
#owl-product-index .product-item {
    margin: 0 5px; }
#owl-product-index .product-item .img .img-show {
    height: 208px; }
#owl-product-index .product-item .info {
    background: #fff; }
#owl-product-index .product-item .info .prices {
    text-align: center;
    padding-bottom: 15px; }
#owl-product-index .product-item .info h3 {
    margin: 0;
    line-height: 1; }
#owl-product-index .product-item .info h3 a {
    display: block;
    line-height: 44px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 10px;
    height: 44px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap; }
#owl-product-index .owl-controls .owl-buttons div {
    height: 40px;
    background: transparent;
    color: #71706e;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 30px); }
#owl-product-index .owl-controls .owl-buttons div i {
    display: block;
    line-height: 40px;
    font-size: 48px; }
#owl-product-index .owl-controls .owl-buttons div:hover {
    color: #262626; }
#owl-product-index .owl-controls .owl-buttons div.owl-prev {
    left: 5px; }
#owl-product-index .owl-controls .owl-buttons div.owl-next {
    right: 5px; }

#owl-product-index2 .owl-controls .owl-buttons div {
    height: 40px;
    background: transparent;
    color: #71706e;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 30px); }
#owl-product-index2 .owl-controls .owl-buttons div i {
    display: block;
    line-height: 40px;
    font-size: 48px; }
#owl-product-index2 .owl-controls .owl-buttons div:hover {
    color: #262626; }
#owl-product-index2 .owl-controls .owl-buttons div.owl-prev {
    left: 5px; }
#owl-product-index2 .owl-controls .owl-buttons div.owl-next {
    right: 5px; }

.banner-bottom {
    padding: 25px 0 45px; }

.box-icon .banner-footer-item {
    border: 1px #E7E7E7 solid;
    padding: 10px 10px 52px 10px;
    margin-bottom: 45px; }
.box-icon .banner-footer-item img {
    float: left;
    margin-left: 0px;
    margin-right: 10px; }
.box-icon .banner-footer-item .banner-footer-item-info {
    float: left; }
.box-icon .banner-footer-item .banner-footer-item-info .banner-footer-item-title {
    color: #876D5F;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold; }
.box-icon .banner-footer-item .banner-footer-item-info .banner-footer-item-des {
    margin-top: -5px; }

/*------------------------Page-----------------------*/
.about-us {
    width: 725px;
    margin: 0 auto;
    background: #f1f0f5;
    clear: both; }
.about-us .title h1 {
    padding: 30px 0;
    margin: 0;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'sfu-con-black'; }
.about-us .page-content {
    padding: 60px 0 20px;
    max-width: 455px;
    width: 100%;
    margin: 0 auto;
    font-family: 'sfu-regular'; }
.about-us .page-content * {
    font-family: 'sfu-regular'; }

.stores {
    padding-bottom: 70px; }
.stores .main-title2 {
    padding: 30px 0 35px; }

.stores-list .stores-item {
    float: left;
    width: calc(100%/4 - 20px);
    margin-right: 20px;
    margin-top: 15px; }
.stores-list .stores-item .stores-info {
    background: #ede2cf;
    min-height: 144px;
    padding: 25px 15px 15px;
    text-align: center; }
.stores-list .stores-item .stores-info p {
    margin: 0; }
.stores-list .stores-item .stores-info .title {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-weight: bold; }
.stores-list .stores-item .stores-info .address {
    font-size: 13px;
    text-transform: uppercase; }
.stores-list .stores-item .stores-info .hotline {
    color: #656565;
    font-size: 13px;
    font-weight: bold; }

.stores-description {
    border-top: 23px solid #f1f0f4; }
.stores-description .content {
    padding: 25px 0 20px;
    font-family: 'sfu-light-ob'; }
.stores-description .content h1, .stores-description .content h2, .stores-description .content h3, .stores-description .content h4 {
    font-family: 'sfu-light'; }
.stores-description .content p {
    font-family: 'sfu-light-ob'; }

/*-----------------------product----------------------*/
.collection-top {
    margin-bottom: 38px; }
.collection-top .collection-left {
    float: left;
    width: 300px;
    margin-right: 4px;
    min-height: 280px;
    background: #f1f0f4;
    padding: 30px 25px 15px; }
.collection-top .collection-left h1 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'sfu-con-black';
    margin-bottom: 15px; }
.collection-top .collection-left .description {
    font-size: 13px;
    line-height: 1.2; }
.collection-top .collection-left .description p {
    font-size: 13px;
    line-height: 1.4; }

.filter-box {
    margin-bottom: 10px; }
.woocommerce .woocommerce-result-count{
    margin-bottom: 0;
}
.filter-box .showing {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 25px; }
.filter-box .browse-tags {
    height: 25px;
    overflow: hidden;
    background: #000;
    margin-right: 10px;
}
.filter-box .browse-tags select {
    background: transparent;
    border: none;
    font-size: 12px;
    padding: 0 7px;
    height: 25px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.browse-tags .woocommerce-ordering{
    margin: 0;
}
.filter-box .browse-tags select option {
    color: #000;
    background: #e7e7e7; }
.filter-box .product-filter {
    position: relative; }
.filter-box .product-filter:hover .filter-title {
    background: #000;
    color: #fff; }
.filter-box .product-filter:hover .filter-container {
    display: block; }
.filter-box .product-filter .filter-title {
    background: transparent;
    border: none;
    font-size: 12px;
    padding: 0 7px;
    line-height: 25px;
    color: #2d2d2d;
    text-transform: uppercase;
    background: #e3e3e3;
    display: block;
    cursor: pointer;
    padding: 0 15px; }
.filter-box .product-filter .filter-title i {
    margin-left: 5px; }
.filter-box .product-filter .filter-container {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 390px;
    background: #e7e7e7;
    padding: 12px 0 9px;
    z-index: 999;
    display: none; }
.filter-box .product-filter .filter-container .filter-item {
    float: left;
    width: calc(100%/3);
    padding: 0 12px;
    min-height: 100px;
    border-right: 1px solid #404040; }
.filter-box .product-filter .filter-container .filter-item:last-child {
    border: 0; }
.filter-box .product-filter .filter-container .filter-item h4 {
    font-size: 13px;
    font-family: 'sfu-con-bold';
    margin-bottom: 5px; }
.filter-box .product-filter .filter-container .filter-item ul li {
    font-size: 12px;
    cursor: pointer;
    position: relative;
    padding-left: 15px;
    line-height: 1;
    margin-bottom: 3px; }
.filter-box .product-filter .filter-container .filter-item ul li:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border: 1px solid #404040;
    content: "";
    text-align: center; }
.filter-box .product-filter .filter-container .filter-item ul li:hover, .filter-box .product-filter .filter-container .filter-item ul li.active {
    color: #b37c0a; }
.filter-box .product-filter .filter-container .filter-item ul li:hover:before, .filter-box .product-filter .filter-container .filter-item ul li.active:before {
    content: '\f00c';
    font-family: FontAwesome;
    border-color: #b37c0a;
    font-size: 11px; }
.filter-box .product-filter .filter-container .filter-btn {
    margin-top: 12px; }
.filter-box .product-filter .filter-container .filter-btn a {
    display: inline-block;
    width: 100px;
    line-height: 24px;
    background: #3a3a3a;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 7px; }
.filter-box .product-filter .filter-container .filter-btn a:hover {
    background: #c6ab7f; }
.product-lists .product {
    float: left;
    width: calc(100%/4 - 13.5px);
    margin: 0 18px 23px 0;
}
.clearfix{
    clear: both;
}
.product-lists .product:nth-child(4n) {
    margin-right: 0; }
.product-lists .product .info {
    background: #ede2cf;
    text-align: center;
    padding: 8px 10px 6px; }
.product-lists .product .info h3 {
    margin: 0 !important; }
.product-lists .product .info h3 a {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'sfu-con-bold'; }
.product-lists .product .info h3 a:hover {
    color: #b37c0a; }
.product-lists .product .info .prices {
    color: #656565;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4; }

#owl-product-index2 .banner-item .info {
    background: #ede2cf;
    text-align: center;
    padding: 8px 10px; }

.product-left {
    float: left;
    width: calc(100% - 265px);
    border-right: 50px solid #f1f0f4;
    border-bottom: 20px solid #f1f0f4;
    padding: 58px 0 42px;
    position: relative; }
.product-left:after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 100%;
    width: 1000px;
    height: 20px;
    background: #f1f0f4; }
.product-left .info-left {
    float: left;
    width: 265px;
    margin-right: 45px;
    text-align: center; }
.product-left .info-left h1 {
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'sfu-con-black'; }
.product-left .info-left .vendor {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'sfu-con-black'; }
.product-left .info-left .product-price {
    padding: 15px 0 13px;
    border-top: 2px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    font-size: 17px;
    font-weight: bold; }
.product-left .info-left .product-description {
    padding-bottom: 40px;
    border-bottom: 2px solid #b2b2b2; }
.product-left .info-left .product-description .title {
    padding: 12px 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'sfu-con-black'; }
.product-left .info-left .product-description .description-wrapper {
    text-align: left;
    font-size: 10px;
    padding: 0 15px;
    font-family: 'sfu-regular'; }
.product-left .info-left .tag-wrapper {
    padding: 12px 0 0; }
.product-left .info-left .tag-wrapper label {
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'sfu-con-black'; }
.product-left .info-left .tag-wrapper ul li {
    display: inline-block;
    border: 1px solid #d0d0d0;
    margin: 0 6px 10px; }
.product-left .info-left .tag-wrapper ul li a {
    display: block;
    line-height: 20px;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'sfu-regular';
    padding: 0 12px; }
.product-left .info-left .tag-wrapper ul li a:hover {
    color: #b37c0a; }
.product-left #surround .product-image-feature {
    float: left;
    width: calc(100% - 140px); }
.product-left #surround #sliderproduct-pc {
    float: right;
    width: 110px;
    padding-right: 32px; }
.product-left #surround #sliderproduct-pc .product-thumb {
    margin-bottom: 10px; }

.product-right {
    float: left;
    width: 265px;
    position: relative;
    margin-top: -38px;
    background: #fff;
    padding: 96px 0 0 20px;
    text-align: center; }
.product-right:after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 1000px;
    height: 38px;
    background: #fff; }
.product-right h3 {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-family: 'sfu-con-black'; }
.product-right .vendor {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'sfu-regular';
    color: #6d6d6d; }
.product-right .pro_sku {
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'sfu-regular';
    color: #6d6d6d; }
.product-right .product-price {
    padding: 15px 0 13px;
    border-top: 2px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: bold; }
.product-right .product-price del {
    text-decoration: line-through;
    margin-left: 5px;
    color: #999; }
.product-right .select {
    display: inline-block; }
.product-right .select .selector-wrapper {
    display: inline-block;
    width: 117px;
    margin-right: 5px;
    margin-bottom: 10px; }
.product-right .select .selector-wrapper label {
    display: none; }
.product-right .select .selector-wrapper select {
    line-height: 42px;
    border: 1px solid #b2b2b2;
    width: 100%;
    height: 44px;
    text-indent: 10px; }
.product-right .select-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
.product-right .select-wrapper label {
    margin-right: 5px;
    display: block; }
.product-right .select-wrapper input {
    line-height: 42px;
    border: 1px solid #b2b2b2;
    width: 100%;
    text-indent: 10px; }
.product-right .select-wrapper select {
    width: auto;
    min-width: 100px;
    border: 1px solid #DBDBDB;
    color: #595959;
    padding: 5px;
    margin: 0;
    text-align: center;
    display: inline-block;
    vertical-align: inherit; }
.product-right .action_btn {
    padding: 6px 0 10px; }
.product-right .action_btn button {
    width: 100%;
    text-align: center;
    font-size: 17px;
    color: #fff;
    background: #c20016;
    text-transform: uppercase;
    line-height: 45px;
    border: 0;
    margin-bottom: 15px;
    border-radius: 5px; }
.product-right .action_btn button:hover {
    background: #c6ab7f; }
.product-right .action_btn button.disabled {
    cursor: not-allowed; }
.product-right .size_intro {
    text-align: left;
    margin-bottom: 5px; }
.product-right .size_intro a {
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'sfu-regular';
    display: block; }
.product-right .size_intro a .icon-blue {
    margin-right: 10px;
    /*background-color: #3c68ee;*/
    border: 1px solid #000;
    border-radius: 18px;
    color: white;
    height: 35px;
    text-align: center;
    min-width: 35px;
    float: left;
    white-space: nowrap;
    line-height: 26px; }
.product-right .size_intro a .icon-blue img {
    width: 35px;
    padding: 5px; }

#owl-product-related {
    padding: 0 65px; }
#owl-product-related .product-item {
    margin: 0 5px; }
#owl-product-related .product-item .img .img-show {
    height: 160px; }
#owl-product-related .product-item .info {
    background: #ede2cf;
    min-height: 75px;
    text-align: center;
    padding: 8px 10px; }
#owl-product-related .product-item .info h3 {
    margin: 0;
    line-height: 1; }
#owl-product-related .product-item .info h3 a {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'sfu-con-bold'; }
#owl-product-related .product-item .info h3 a:hover {
    color: #b37c0a; }
#owl-product-related .product-item .info .prices {
    color: #656565;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4; }
#owl-product-related .owl-controls .owl-buttons div {
    height: 40px;
    background: transparent;
    color: #71706e;
    margin: 0;
    padding: 0;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 0;
    position: absolute;
    top: calc(50% - 30px); }
#owl-product-related .owl-controls .owl-buttons div i {
    display: block;
    line-height: 40px;
    font-size: 48px; }
#owl-product-related .owl-controls .owl-buttons div:hover {
    color: #262626; }
#owl-product-related .owl-controls .owl-buttons div.owl-prev {
    left: 5px; }
#owl-product-related .owl-controls .owl-buttons div.owl-next {
    right: 5px; }

#product-related {
    border-top: 10px solid #f1f0f4;
    padding: 10px 0 40px; }
#product-related .title-like h4 {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-family: 'sfu-con-bold'; }

.policy {
    padding: 30px 0 60px; }
.policy .policy-item {
    float: left;
    width: calc(100%/3 - 20px);
    margin-right: 30px;
    border-top: 2px solid #b2b2b2; }
.policy .policy-item:last-child {
    margin-right: 0; }
.policy .policy-item h4 {
    padding: 12px 0 8px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'sfu-con-bold';
    margin: 0;
    text-align: left; }
.policy .policy-item .content, .policy .policy-item .content * {
    text-align: left;
    font-size: 15px;
    line-height: 1.4;
    font-family: 'sfu-regular'; }

/*---------------------Page--------------------*/
#layout-page .maps iframe {
    width: 100%; }

#layout-page h3 {
    margin: 15px 0; }

#layout-page .text-center iframe {
    width: 100%; }

#layout-page .input-lg {
    height: 40px;
    font-size: 14px;
    padding: 10px 12px; }

#layout-page input:not([type="checkbox"]) {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    padding-left: 5px; }

#layout-page form label {
    display: none; }

#layout-page .action-bottom a, #layout-page input[type="submit"] {
    text-transform: uppercase;
    padding: 7px 16px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background: #c6ab7f;
    color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; }
#layout-page .action-bottom a:hover, #layout-page input[type="submit"]:hover {
    opacity: 0.9; }

/*Article loop*/
p.date {
    font-size: 12px;
    font-style: italic;
    color: #777; }

.articles-loop {
    margin-bottom: 25px; }

.blog-index .articles-loop {
    padding: 0 15px; }

.articles-loop .article-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px; }

.articles-loop .article-img .item-img {
    width: 100%;
    height: 250px;
    transition: all 0.3s; }

.articles-loop .article-img:hover .item-img {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }

.articles-loop .article-info {
    padding-bottom: 15px;
    position: relative; }

.post-date {
    margin: 3px 10px 8px 0;
    float: left;
    text-align: center;
    width: 60px; }

.post-date .day {
    background: #f4f4f4;
    border-radius: 0 0 0 0;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    color: #c6ab7f; }

.post-date .month {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.07) inset;
    color: #fff;
    font-size: 0.9em;
    padding: 0 0 2px;
    display: block;
    background-color: #c6ab7f; }

.articles-loop .article-info h3 {
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 8px; }

.articles-loop .article-info h3 a {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    height: 48px;
    overflow: hidden;
    margin-top: 5px; }

.articles-loop .article-info p {
    margin-bottom: 0;
    height: 63px;
    overflow: hidden;
    clear: both; }

.news-all {
    margin: 20px 0; }

.news-all .title-news {
    color: #000;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: 600;
    border-bottom: 1px solid #ddd; }

.news-all ul {
    margin: 0; }

.news-related {
    margin: 10px 0; }

.news-all ul li a {
    font-size: 15px;
    padding: 5px 0px 5px 20px;
    margin: 0;
    position: relative;
    color: #757575;
    display: block; }

.news-all ul li a:before {
    content: '';
    border: 3px solid #000;
    position: absolute;
    box-shadow: 1px 1px 2px;
    left: 5px;
    top: 12px;
    color: #000; }

.news-all ul li a:hover {
    text-decoration: underline; }

/*Customer*/
#customer-login {
    padding: 20px 15px 30px;
    position: relative;
    background: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 290px; }

#customer-login h1, #recover-password h2 {
    font-size: 22px !important;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 20px 0;
    margin-bottom: 20px !important;
    color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid #e8e8e8; }

.large_form input {
    padding: 4px 9px;
    height: 29px;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: inset 0px 0px 5px 0px #eaeaea;
    box-shadow: inset 0px 0px 5px 0px #eaeaea;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 19px;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    margin-bottom: 20px; }

.action_bottom {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 20px; }

#layout-page .input-group {
    margin-bottom: 15px; }

/*-----------------------Size chart------------------*/
.size-list .size-intro {
    float: left;
    width: calc(100%/5 - 16px);
    margin-right: 20px;
    margin-bottom: 20px; }
.size-list .size-intro:nth-child(5n) {
    margin-right: 0; }
.size-list .size-intro .img-show {
    height: 224px; }
.size-list .size-intro .article-info {
    background: #ede2cf;
    text-align: center; }
.size-list .size-intro .article-info p {
    margin: 0;
    border-bottom: 1px solid #faf6f1;
    line-height: 27px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold; }
.size-list .size-intro .article-info h3 {
    margin: 0;
    padding-bottom: 10px; }
.size-list .size-intro .article-info h3 a {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.4;
    font-family: 'sfu-con-bold';
    padding: 5px 10px; }
.size-list .size-intro .article-info h3 a:hover {
    color: #b37c0a; }

/*------------------------Product variant--------------*/
.option-select ul li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 5px 10px 0;
    cursor: pointer;
    text-align: center; }

.option-select ul li img {
    width: 30px;
    height: 25px;
    padding-right: 5px; }

.option-select ul li a {
    color: #555;
    display: block;
    padding: 0;
    border: 1px solid #c8c9cd;
    overflow: hidden;
    position: relative;
    min-width: 25px; }

.option-select ul li a.soldout {
    background: url(soldout6042.png?v=291) center center no-repeat;
    background-size: 100% 100%;
    cursor: not-allowed; }

.option-select ul li a span {
    display: inline-block;
    padding-right: 5px; }

.option-select ul li.selected a:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    content: '';
    background: url(bg_checked6042.png?v=291) right bottom no-repeat;
    width: 14px;
    height: 14px;
    z-index: 999; }

/*--------------------other-------------------*/
.title_block_sidebar {
    font-size: 17px;
    padding: 12px 19px;
    color: #FFFFFF;
    font-family: inherit;
    margin: 0;
    background-color: #96857C;
    text-align: left; }

.block_content_sidebar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6D6D6;
    font-size: 12px;
    padding: 10px 20px 0; }

#layered_block_left ul li {
    display: inline-block;
    list-style-type: none;
    width: 100%; }

#layered_block_left ul li i {
    margin-right: 10px;
    float: left; }

#layered_block_left ul li a {
    color: #2B2B2B;
    display: block;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 10px;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s; }

.cart-fixscroll {
    position: fixed;
    top: 20px;
    z-index: 1000;
    right: 100px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    opacity: 0.7; }
.cart-fixscroll a {
    display: block; }
.cart-fixscroll .number-count {
    color: white;
    font-size: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    top: 28px;
    right: 26px;
    text-align: center;
    line-height: 17px; }

/*------------------------Media----------------------*/
@media screen and (max-width: 1199px) {
    footer .footer-block .footer-address .adress-item {
        margin-right: 0; }
    .cart-fixscroll {
        right: 50px; } }

@media screen and (min-width: 1024px) {
    footer .footer-block .footer-address:last-child .adress-item, footer .footer-block .footer-address:last-child h2.city {
        margin-left: 50px !important; } }

@media screen and (max-width: 991px) {
    #cart .main-title2 {
        margin: 20px 0; }
    .product-item .img .img-show {
        height: 170px; }
    .cart-fixscroll {
        right: 10px; }
    .header-top {
        position: relative; }
    #owl-index .item .img {
        height: 400px; }
    footer .footer-block .footer-address {
        margin: 0; }
    .stores-list .stores-item {
        float: left;
        width: calc(100%/2 - 10px);
        margin-right: 20px;
        margin-bottom: 20px; }
    .product-lists .product {
        width: calc(100%/3 - 12px); }
    .product-lists .product:nth-child(3n) {
        margin-right: 0; }
    .product-lists .product:nth-child(4n) {
        margin-right: 18px; }
    .filter-box {
        margin: 25px 0; }
    .collection-top {
        margin-top: 30px;
        margin-bottom: 0; }
    .about-us {
        margin-top: 30px; }
    .product-left {
        width: 100%;
        border: 0; }
    .product-left:after {
        content: none; }
    .product-right {
        margin-top: 0;
        padding: 0 15px;
        width: 100%; }
    .product-right:after {
        content: none; }
    #sliderproduct {
        clear: both;
        padding: 10px 0; }
    #sliderproduct .item {
        margin: 0 5px; }
    #sliderproduct .owl-buttons > div {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #c6a885;
        border-radius: 0;
        margin: 0;
        opacity: 1; }
    #sliderproduct .owl-buttons .owl-prev {
        left: -5px; }
    #sliderproduct .owl-buttons .owl-next {
        right: -5px; }
    #owl-product-index2 .owl-controls .owl-buttons div.owl-prev {
        left: 0; }
    #owl-product-index2 .owl-controls .owl-buttons div.owl-next {
        right: 0; } }

@media screen and (max-width: 767px) {
    .product-item .img .img-show {
        height: 200px; }
    .size-list .size-intro .img-show, .banner-index .banner-list .banner-item .img .img-show {
        height: 163px; }
    .size-list .size-intro:nth-child(5n) {
        margin-right: 10px; }
    .banner-index .banner-list .banner-item h3 a {
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    .product-lists .product .info h3 a, #owl-product-related .product-item .info h3 a {
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    #owl-product-index .product-item .info .prices {
        text-align: center;
        padding-bottom: 5px; }
    #owl-product-index .product-item .info h3 a {
        display: block;
        line-height: 30px;
        height: 28px; }
    #owl-product-related .product-item .img .img-show {
        height: 130px; }
    #owl-product-related .product-item .info {
        min-height: 50px !important; }
    #owl-index .item .img {
        height: 300px; }
    #owl-index .item .slider-caption {
        padding: 0 20px;
        margin-bottom: 10px; }
    #owl-index .item .slider-caption .slider-title {
        line-height: 30px;
        font-size: 28px; }
    #owl-index .owl-prev {
        left: 0; }
    #owl-index .owl-next {
        right: 0; }
    #owl-index .item .slider-caption .slider-btn {
        line-height: 23px;
        font-size: 11px;
        width: 100px; }
    .about-us {
        width: 100%; }
    .about-us .title h1 {
        padding: 20px 0;
        font-size: 18px; }
    .about-us .page-content {
        padding: 30px 15px 15px; }
    .stores {
        margin: 0; }
    .stores-list .stores-item {
        width: 100%; }
    .header-top .logo {
        width: calc(100% - 40px);
        padding: 10px 0 10px 40px; }
    #header-mobile-menu {
        margin: 35px 0 0; }
    .policy {
        padding: 30px 15px; }
    .policy .policy-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; }
    #owl-product-related, #owl-product-index {
        padding: 0 20px; }
    .product-lists .product {
        width: calc(100%/2 - 5px);
        margin: 0 10px 10px 0; }
    .product-lists .product:nth-child(3n) {
        margin-right: 10px; }
    .product-lists .product:nth-child(2n) {
        margin-right: 0; }
    #collection, .banner-index .banner-list {
        padding: 0 15px; }
    .collection-top .collection-left, .collection-top .collection-img {
        width: 100%;
        margin: 0 0 10px;
        padding: 15px; }
    .product-left {
        padding: 15px 15px 0px; }
    .product-left .info-left {
        width: 100%;
        margin: 0; }
    .filter-box .product-filter {
        position: relative; }
    .filter-box .product-filter.active .filter-title {
        background: #000;
        color: #fff; }
    .filter-box .product-filter:hover .filter-container {
        display: none; }
    .filter-box .product-filter.active .filter-container {
        display: block; }
    .filter-box .product-filter .filter-container {
        min-width: 170px; }
    .filter-box .product-filter .filter-container .filter-item {
        width: 100%;
        min-height: initial;
        border-right: 0; }
    .filter-box .product-filter .filter-container .filter-item ul li {
        font-size: 14px;
        margin-bottom: 10px; }
    .filter-box .product-filter .filter-container .filter-item ul li.active {
        color: #b37c0a !important; }
    .filter-box .product-filter .filter-container .filter-item ul li.active:before {
        content: '\f00c';
        font-family: FontAwesome;
        border-color: #b37c0a !important;
        font-size: 11px !important; }
    .filter-box .product-filter .filter-container .filter-item ul li:hover {
        color: #2d2d2d; }
    .filter-box .product-filter .filter-container .filter-item ul li:hover:before {
        border: 1px solid #404040;
        font-size: 0; }
    .box-icon .banner-footer-item {
        margin-bottom: 20px; }
    .size-list {
        padding: 0 5px; }
    .size-list .size-intro {
        width: calc(100%/2 - 20px);
        margin: 0 10px 20px; }
    .product-right .action_btn button {
        width: calc(100%/2 - 5px);
        margin-right: 5px; }
    .product-right .action_btn button:last-child {
        margin-right: 0; }
    .product-left #surround .product-image-feature {
        width: 100%; }
    .product-left #surround #sliderproduct-pc {
        float: left;
        width: 100%;
        padding: 0;
        margin: 10px 0 0 0; } }

@media screen and (max-width: 479px) {
    footer .footer-block .footer-address .adress-item {
        width: 49%;
        margin: 0 0 15px; }
    .banner-index .banner-list .banner-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px; }
    .product-item .img .img-show {
        height: 167.5px; }
    .product-lists .product .info h3 a {
        font-size: 12px; }
    #owl-product-index .product-item .img .img-show {
        height: 158px; } }

/*--------------------------new header--------------------------*/
.header-new {
    height: 98px; }

.header-new {
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: #2d2d2d; }

.header-new .header-container {
    position: relative;
    margin: 0 auto;
    border: none; }

.header-new .header-container .container {
    position: relative;
    margin: 0 auto;
    padding: 0 10px; }

.js-menu-mobile {
    position: absolute;
    top: 22px;
    display: block;
    left: 0;
    background-color: transparent; }

.clearfix:before, .clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }

.js-menu-mobile .trigger-menu {
    cursor: pointer; }

.js-menu-mobile .trigger-menu span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.750em; }

.js-menu-mobile .trigger-menu .three-bars-icon {
    margin: 20px 10px;
    margin-top: 22px;
    user-selectable: none;
    position: relative;
    display: inline-block;
    width: 28px;
    height: 2px;
    background: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }

.js-menu-mobile .trigger-menu .three-bars-icon:before {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 2px;
    top: -9px;
    background: #fff; }

.js-menu-mobile .trigger-menu .three-bars-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 2px;
    top: 9px;
    background: #fff; }

.js-menu-mobile .trigger-menu .three-bars-icon.close:before, .js-menu-mobile .trigger-menu .three-bars-icon.close:after {
    -webkit-transition: -webkit-transform 0.6s ease;
    -moz-transition: -moz-transform 0.6s ease;
    transition: transform 0.6s ease; }

.js-menu-mobile .trigger-menu .three-bars-icon:before, .js-menu-mobile .trigger-menu .three-bars-icon:after {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    transition: transform 0.4s ease; }

.js-menu-mobile .trigger-menu .three-bars-icon.close:before {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    top: 0;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.js-menu-mobile .trigger-menu .three-bars-icon.close:after {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    top: 0;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

@media screen and (max-width: 767px) {
    .js-menu-mobile .trigger-menu span.text {
        display: block !important;
        font-size: 9px !important;
        color: #fff;
        text-align: center;
        padding-left: 2px; } }

.js-menu-mobile .trigger-menu span.text {
    display: none; }

.header-new .header-container .logo {
    width: 100%;
    text-align: center;
    padding: 5px 0 !important; }
.header-new .header-container .logo img {
    max-width: 65px;
    padding-top: 13px; }

.header-new .header-container .logo a {
    display: inline-block; }

.header-new .header-container .menu-top {
    top: 35px;
    margin-right: 0;
    margin-bottom: 10px;
    position: absolute;
    right: 28px; }

.header-new .header-container .menu-top .search {
    display: block;
    font-weight: bold; }

.header-new .header-container .menu-top .search span.ic-search {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background: url(ic_search6042.png?v=291) no-repeat;
    background-size: cover;
    cursor: pointer; }

.header-new .header-container .search-on-mobile.open {
    opacity: 1;
    visibility: visible; }

.header-new .header-container .search-on-mobile {
    display: block;
    position: absolute;
    top: 98px;
    left: 0;
    background-color: white;
    padding: 1%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    transition: all, 0.3s;
    border: 1px solid black;
    border-top: none;
    visibility: hidden; }

.header-new .header-container .search-on-mobile .inside {
    position: relative; }

.header-new .header-container .search-on-mobile .inside input {
    border: 0 none;
    box-shadow: none;
    width: 100%;
    font-size: 1.125em;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    color: black;
    font-weight: 200;
    outline: none; }

.header-new .header-container .search-on-mobile .inside .close-search-mobile {
    display: block;
    position: absolute;
    top: 1px;
    right: 5px;
    text-indent: -99999px;
    background: url(ic_close_26042.png?v=291) no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px; }

.new-span1 {
    font-size: 16px; }

[canvas=container], [off-canvas] {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

[off-canvas] {
    display: none;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fff;
    /* Basic background color, overwrite this in your own css. */
    color: white;
    /* Basic colors, overwrite this in your own css. */
    -webkit-overflow-scrolling: touch;
    /* Enables momentum scrolling on iOS devices, may be removed by setting to 'auto' in your own CSS. */
    border-right: #ccc solid 1px; }

[off-canvas*=top] {
    width: 100%;
    height: 255px;
    top: 0; }

[off-canvas*=right] {
    width: 255px;
    height: 100%;
    top: 0;
    right: 0; }

[off-canvas*=bottom] {
    width: 100%;
    height: 255px;
    bottom: 0; }

[off-canvas*=left] {
    width: 255px;
    height: 100%;
    top: 0;
    left: 0; }

[off-canvas*=reveal] {
    z-index: 0; }

[off-canvas*=push] {
    z-index: 1; }

[canvas], [off-canvas] {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden; }

[canvas] {
    z-index: 1; }

[off-canvas*=overlay] {
    z-index: 9999; }

[off-canvas*=shift] {
    z-index: 0; }

[off-canvas*=shift][off-canvas*=top] {
    -webkit-transform: translate(0px, 50%);
    transform: translate(0px, 50%); }

[off-canvas*=shift][off-canvas*=right] {
    -webkit-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px); }

[off-canvas*=shift][off-canvas*=bottom] {
    -webkit-transform: translate(0px, -50%);
    transform: translate(0px, -50%); }

[off-canvas*=shift][off-canvas*=left] {
    -webkit-transform: translate(50%, 0px);
    transform: translate(50%, 0px); }

[canvas=container] {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: #fff;
    -webkit-overflow-scrolling: touch; }

@media print {
    [canvas] {
        -webkit-transform: translate(0px, 0px) !important;
        -ms-transform: translate(0px, 0px) !important;
        transform: translate(0px, 0px) !important; }
    [off-canvas] {
        display: none !important; } }

.sidebar-container {
    color: #000;
    padding: 20px; }

.sidebar-container a {
    color: #000; }

.sidebar-container .sidebar-body li a {
    display: block;
    font-size: small;
    padding: 8px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; }

.sidebar-container .sidebar-body li ul li {
    position: relative;
    padding-left: 25px; }

.sidebar-container .sidebar-body li ul li a {
    text-transform: none;
    letter-spacing: 2px;
    font-weight: normal;
    color: #000; }

.sidebar-container .sidebar-body li ul li:nth-child(1),
.sidebar-container .sidebar-body li ul li:nth-child(2),
.sidebar-container .sidebar-body li ul li:nth-child(3) {
    background: #e7e7e7; }

.sidebar-container .sidebar-body li ul li a.active {
    color: #000; }

.sidebar-container .sidebar-body li ul li:last-child {
    border: 0 none; }

.sidebar-container .sidebar-body li.sale a {
    color: #ff2000; }

span.new-control {
    position: absolute;
    right: 0;
    top: 4px;
    cursor: pointer;
    font-size: 18px; }
span.new-control .fa-angle-up {
    display: none; }
span.new-control.control-span .fa-angle-down {
    display: none; }
span.new-control.control-span .fa-angle-up {
    display: block; }

.header-new .cart-top {
    position: absolute;
    right: 0%;
    top: 16px;
    padding: 18px 0; }
.header-new .cart-top a {
    color: #000; }
.header-new .cart-top .number-count {
    color: white;
    font-size: 10px;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 21px;
    right: 0;
    text-align: center;
    line-height: 17px; }
.header-new .cart-top .icon-shopping-cart {
    font-size: 19px;
    margin-right: 9px; }
.header-new .cart-top .icon-shopping-cart:before {
    content: "\f07a"; }

.header-new .login-icon {
    top: 34px;
    margin-right: 0;
    float: right;
    position: absolute;
    right: 60px; }
.header-new .login-icon i {
    font-size: 20px;
    color: #fff; }

#collapse_2 > ul > li:nth-child(3) a {
    color: #f00;
    font-weight: bold;
    font-style: italic; }

.mTSWrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr; }

.store-available h4 {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold; }

.feedback-list .feedback-item {
    width: calc(100%/3 - 10px);
    margin-bottom: 10px; }

@media screen and (max-width: 600px) {
    .feedback-list {
        margin-left: 10px; }
    .feedback-list .feedback-item {
        width: calc(100%/2 - 10px); } }

#combo-program {
    max-height: 400px; }

#combo-program .name-combo {
    margin: 0; }

#combo-program .name-combo span {
    display: inline-block;
    color: #fb3d3d;
    font-weight: bold; }

#combo-program .combo-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold; }

#combo-program .combo-title b {
    color: #ff0707; }

#combo-program .combo-w {
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;
    position: relative; }

#combo-program .combo-w:after {
    content: '\2714\fe0e';
    font-size: 16px;
    position: absolute;
    top: calc(50% - 11px);
    left: 11px;
    color: #fe8dbf;
    opacity: 0; }

#combo-program .combo-w:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    position: absolute;
    top: calc(50% - 10px);
    left: 7px; }

#combo-program .combo-w.checked {
    border: 1px solid #fe8dbf; }

#combo-program .combo-w.checked:after {
    opacity: 1; }

#combo-program .combo-w.checked:before {
    border: 1px solid #fe8dbf; }

#combo-program table tr {
    margin-bottom: 3px; }

#combo-program table label {
    font-weight: normal;
    font-size: 13px;
    display: block;
    border: none;
    padding: 2px 5px;
    cursor: pointer; }

#combo-program table label:after {
    content: "";
    display: table;
    clear: both; }

#combo-program table label img {
    display: inline-block;
    width: 36px;
    float: left; }

#combo-program table label p {
    display: inline-block;
    width: calc(100% - 50px);
    float: left;
    margin-bottom: 0px;
    padding-left: 10px; }

#combo-program table label .discount-promotion-price b {
    color: #fa0303; }

#combo-program table label .discount-promotion-price del {
    margin-left: 5px; }

#combo-program table input {
    display: none; }

#combo-program table input:checked + label {
    color: #000;
    background: #fff8f8; }

.offshipper {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #c20016;
    text-transform: uppercase;
    border: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px; }

.stores-list .stores-item:last-child {
    clear: both; }

.city {
    color: white;
    margin-bottom: 40px; }

footer .footer-block .footer-address .adress-item h4 {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 15px; }

.footer-block .footer-address:last-child .adress-item {
    width: 100%; }

@media screen and (max-width: 479px) {
    footer .footer-block .footer-address .adress-item {
        border: 0px !important; }
    .banner-index .banner-list {
        margin-top: 15px; }
    .banner-index {
        padding: 5px 0; } }

@media (max-width: 767px) {
    .city {
        padding-top: 30px;
        border-top: 1px solid #FFF;
        margin-top: 20px; } }

.newstore h2.city {
    padding-top: 30px;
    border-top: 1px solid #FFF;
    margin-top: 20px; }

.collection-img {
    padding: 0px !important; }

.collection-img img {
    width: 100%;
}
.nav-pagination>li>span, .nav-pagination>li>a{
    border-radius: 0;
}
.nav-pagination>li i{
    top: -2px;
}
.nav-pagination>li>span, .nav-pagination>li>a{
    border: 1px solid currentColor;
}
